/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: green;
  margin: 0 auto;
}
a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  background-color: yellow;
}
.mainContent {
  padding: 40px;
  padding-top: 50px;
  max-width: 1500px;
  margin: 0 auto;
}
.about {
  margin: 0 auto;
  background-color: magenta;
  display: flex;
  justify-content: space-around;
}
.about div {
  margin: 5%;
  max-width: 25%;
}
.top {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 50%;
  height: auto;
  border: 10px solid magenta;
  padding: 0px;
}
nav {
  color: magenta;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cyan;
  height: 20px;
  padding: 20px;
}
nav button {
  margin-left: 20px;
}
header {
  background-image: url("../images/placeHolderPic.jpg");
  background-repeat: no-repeat;
  height: auto;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.callToAct {
  padding: 15%;
  max-width: 20%;
  color: magenta;
}
footer {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}
footer div {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
footer div div {
  flex-direction: column;
}
footer div div p {
  margin: 5px;
}
.copyright {
  justify-content: center;
}
