header{
    background-image: @heroShot;
    background-repeat: no-repeat;
    height:auto;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.callToAct{
    padding: 15%;
    max-width:25%;
    color:@cpb;
    button{
        color:@cpc;
        background-color: @cpb;
        a{
            font-size: 15px;
            font-weight: 600;
        }
    }
    @media @mobile{
        padding:10%;
        max-width: 50%;
    }
}