header{
    display:flex;
    background-image: url("images/placeHolderPic.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
}