.mainContent{
    background-color:@cpb;
    padding-top: 50px;

}
.about{
    max-width:90%;
    margin:0 auto;
    background-color: @cpe;
    display:flex;
    justify-content:space-around;
    div{
        margin: 5%;
        max-width:25%;
    }
}

.top{
    display:flex;
    justify-content: center;

}
.bot{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.content{
    width:40%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    margin:20px;
    width: 50%;
    height: auto;
    border: 10px solid @cpe;
    padding:0px
}