//color palette
@cpa:cyan; //navbar color
@cpb:green;//main background color
@cpc:yellow;//main font color/ footer background color
@cpd:red;//button color
@cpe:magenta;//content continer/ alternate text color

//images
@heroShot:url("../images/placeHolderPic.jpg");

//text styles